.DS_Store
.vscode

# gcc-3.4.6, binutils-2.27, kz_h8write
/tools

# できあがる実行形式ファイル一覧
kozos
kozos.elf
kzload
kzload.elf
kzload.mot
lib.o
main.o
serial.o
startup.o
vector.o
xmodem.o
elf.o
interrupt.o
intr.o
kozos.o
syscall.o
test08_1.o
test09_1.o
test09_2.o
test09_3.o
memory.o
test10_1.o